:root {
  /*
   white: rgb(255, 247, 241)
   Beige: rgb(255, 228, 201)
   Red: rgb(231, 136, 149)
   gray/green: rgb(190, 209, 207)
  */

  --color-bg: rgb(255, 247, 241);
  --btn-bg: rgb(231, 136, 149);
  --btn-text: #000;
  --ticket-color: rgb(190, 209, 207);
  --color-text: #000;
  --ticket-text: var(--color-text);

  /* Sizes */
  --header-height: 75px;
  --footer-height: 20px;
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    /*
    Black: rgb(0, 0, 0)
    Dark-Blue: rgb(11, 96, 176)
    Blue: rgb(64, 162, 216)
    Beige: rgb(240, 237, 207)
    */
    --color-bg: rgb(0, 0, 0);
    --color-text: white;
    --ticket-color: rgb(240, 237, 207);
    --ticket-text: black;
  }
}


* {
  margin: 0;
  padding: 0;
}